.n-search-container{
    width:100%;
    height:60px;
    background-color: #323a32;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    position: fixed;
    top:0;
    left:0;
    z-index:4;
}
.n-search-form{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.n-search-input{
    margin-left: 10px;
    padding:10px;
    width:300px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    outline:none;
    border:none;
}
.n-search-button{
    border:none;
    outline:none;
    background-color: darkblue;
    padding:10px;
    border-left:1px soli black;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color:white;
    font-weight:700;
    transition-duration:0.3s;
    cursor:pointer;
 
}
.n-search-button:hover{
    background-color: white;
    color:darkblue;
    border:1px solid darkblue;
}
.n-logo{
    margin-left:10px;
    font-weight: 700;
    text-decoration: none;
    cursor:pointer;
}
 
